th{
	background-color:rgb(35, 0, 231);
	color: #ffffff;
	line-height: 30px;
	height: 30px;
	border-radius:10px 10px 0 0;
	border-bottom: 2px solid  #2212ff;
	padding: 2%;
    width: 175px;
    font-size: larger;
}
table{
	margin:0 70px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
tr td{
	text-align: center;
}
.im{
    width: 100%;
    
    
    position: absolute;
    height: 100%;
    background-size: cover;
    
}

th:first-child,tr td:first-child{
	text-align: left;
	padding-left: 2%;
	width: 50px;
}
td{
	background-color: #7269c8;
	height: 28px;
	line-height: 20px;
    width: 152px;
    font-size: large;
    padding: 7px ;
    color: cornsilk;
}

tr td{
	opacity: 0.8;
}

h1{
    text-align: center;
    

}
img{
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    
}
.home{
    width: 4%;
    height: 4%;
    float: right;
}
tbody tr:hover{
	opacity: 1;
    height: 50px;
    background-color:rgb(168, 179, 168);
    color: rgb(240, 53, 53);
}
.view{
    border: 2px solid crimson;
    border-radius: 4px;
    background-color:transparent;
    color:crimson;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.view:hover{
    color: white;
    background-color: crimson;
}
.transferto{
    padding: 17px;
    font-size: large;
    border-radius: 12px;
    cursor: pointer;
    background-color :rgb(11, 0, 160);
    border :   2px solid black;
    width: 200px;
    color: white;
    margin: 20px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.transferto:hover{
  background-color:rgb(255, 0, 0);
  width: 220px;
  opacity: 1;
  height: 65px;
  color: rgb(255, 255, 255);
  
}
a{
    text-decoration: none;
}
.transact{
    border: 2px solid black;
}